<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Menu</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />
</head>

<body>
	<div class="container">
		<h2>Menu</h2>
		<div class="panel panel-default">
			<div class="panel-body"><a th:href="@{ /user/}">Usuários</a></div>
			<div class="panel-body"><a th:href="@{ /party/}">Festas</a></div>
			<div class="panel-body"><a th:href="@{ /logout/}">LogOut</a></div>
		</div>
	</div>
</body>

</html>